<% provide(:title, "About Us") %>
<body>
    <div class="center jumbotron">
      <h1>WHO WE ARE</h1><br>
      <p>
        Foundation ‘Bolivia Digna’ started its activities in 2005 and was formally registered in 2006. The institution was created to promote and defend the human rights of infants, children, adolescents, the elderly and other vulnerable, poor and marginalized people. To that end, the work of the foundation has centered around three areas: education, legal assistance and social aid.
      </p><br>
      <p>
        In 2006 we began work donating clothing and blankets to people living in extreme poverty. We also began educating young adults, indigenous leaders and leaders of social organizations in matters of Human Rights and Responsibilities.
        We also implemented an education program for teachers, professors and university staff covering human rights and values.
      </p><br>
      <p>
        As of 2009, Bolivia Digna began work in the following areas:
        <ul>
            <li class="liili">Design and implementation in schools and churches of strategies for the prevention of violence against children and adolescents</li>
            <li class="liili">Protection and free legal defense for children and adolescents who have been the victims of violence. </li>
            <li class="liili">Citizenship and community service training for the youth of Cochabamba’s tropical region. </li>
            <li class="liili">Social assistance campaigns to assist vulnerable and impoverished  communities.</li>
            <li class="liili">Provision of Decent and reasonable housing for families that live in the high-risk zones of Puerto Villarroel, Chapare, and Cochabamba which are extremely impoverished. </li>
        </ul>
      </p><br>
      <p>
        Since January 1, 2015, Bolivia Digna has had a volunteer program for Bolivian and international youth with the objective of establishing and reinforcing a culture of volunteer work and making community service a way of life.
      </p><br>
      <p>
        Along with La Salle Bolivia (an internationally recognized prestigious educational institution), we run several projects (see projects page for details) focused on childhood development and education for youth in impoverished situations.
      </p><br>
    </div>
</body>
