<% provide(:title, "Areas of Action") %>
<body>
    <div class="center jumbotron">
      <h3>Areas of Action </h3><br>
      <p>
        Prevention and Education: Promotion of a culture of good treatment, respect for human rights and Christian values.<br>
        Social Aid: Improve life circumstances through better work opportunities, providing nutritional supplementation, and clothing, among other supplies for those in situations of poverty.<br>
        International and National Volunteer Work: Promote and instill in children and youth of the concept of social and community service as a lifestyle.
      </p><br>
    </div>
</body>