<% provide(:title, "English Speaking") %>
<body>
	<script src="javascripts/jquery-1.11.0.min.js"></script>
	<script src="javascripts/lightbox.min.js"></script>
	<link href="stylesheets/lightbox.css" rel="stylesheet" />
	<div class="center jumbotron">
		<h1>ENGLISH SPEAKING PROJECT</h1><br>
		<h3>What is the current situation? </h3><br>
		<p>
			The children and adolescents have few classes that teach their native language and English in school. It is not an important subject in school.
		</p>
		<p>
			Children had English lessons in school once or twice a week, this is not so much time. Also, parents and teachers often feel it is not a subject that deserves attention and dedication. However children have motivation and potential to learn another language.
		</p><br>
		<h3>The project consists of:</h3><br>
		<p>
			The main objective is to build the skills of self-confidence and to improve the communication of the children by encouraging them to speak English. Due to the nature and dynamics of girls and boys working in small groups, and in a personalized manner, a variety of teaching techniques and media  are used, including games and movies.

		</p><br><br>
		<div class="row">
			<center>
				<div class="col-md-4">
					<a href="/images/bolivia1.jpg" data-lightbox="kids" data-title="Kids 1" class="thumbnail">
						<img src="/images/bolivia1.jpg">
					</a>		
				</div>
				<div class="col-md-4">
					<a href="/images/bolivia2.jpg" data-lightbox="kids" data-title="Kids 2" class="thumbnail">
						<img src="/images/bolivia2.jpg">
					</a>		
				</div>
				<div class="col-md-4">
					<a href="/images/bolivia3.jpg" data-lightbox="kids" data-title="Kids 3" class="thumbnail">
						<img src="/images/bolivia3.jpg">
					</a>		
				</div>				
			</center>
		</div>
	</div>
</body>