<% provide(:title, "Home") %>

<div class="center jumbotron">
<center>  <h1>Under Construction!</h1>

  <h2>
    Please visit us at 
    <a href="https://www.facebook.com/pages/Fundacion-Bolivia-Digna/740692479360514">Fundacion Bolivia Digna</a><br><br>
    <img style="max-width:100px; margin-top: -7px;" src="/images/logo1.png">
  </h2>
</div>
