<% provide(:title, "Startups") %>
<body>
	<script src="javascripts/jquery-1.11.0.min.js"></script>
	<script src="javascripts/lightbox.min.js"></script>
	<link href="stylesheets/lightbox.css" rel="stylesheet" />
	<div class="center jumbotron">
		<h1>MICROBUSINESS CUTTING AND SEWING PROJECT</h1><br>
		<h3>What is the current situation? </h3><br>
		<p>
			There is an association of women in the neighborhood of Tackoloma who have the interest to develop different activities to increase family income and improve living conditions.
		</p>
		<p>
			Women of Tackoloma, for household responsibilities, require an economic activity that can develop autonomously and independently at home. Two of the leading group of women have experience and training in dressmaking and now they motivate other women to prepare in this field. Currently 22 women are trained in dressmaking.
		</p><br>
		<h3>The project consists of:</h3><br>
		<p>
			Training women in cutting and sewing so that they can form an Association of Micro-Entrepreneurship in Sustainable Cutting and Sewing and help to improve their family income.
		</p><br><br>
	</div>
</body>