<% provide(:title, "Target Population") %>
<body>
    <div class="center jumbotron">
      <h3>Target Population</h3><br>
      <p>
        The two Childhood Development Centers that we implement in alliance with La Salle Bolivia are located in the neighborhoods of Tackoloma and Mercado Campesino Arocagua—two neighborhoods of moderate to extreme poverty—in the Sacaba District located in the Department (State) of Cochabamba.
      </p>
      <p>
        In these neighborhoods the majority of these children spend most of their time home alone, under the care of older siblings, or they themselves care for their younger siblings. Often times they also spend several hours in the streets. This situation places their health, integrity and development at risk. They also run a greater risk of becoming victims of violence, abuse, and trafficking.
        The projects directly benefit 180 infants, children and adolescents; 22 mothers and women, and indirectly an average of 90 families.

      </p><br>
      <p>
        The volunteer program is implemented in the private and public La Salle High School of Cochabamba. In the first session of the program, 34 adolescent students responsibly participated and completed their part in supporting the projects.
      </p><br>
    </div>
</body>