<% provide(:title, "Vision and Mission") %>

<body>
    <div class="center jumbotron">
      <h1>Vision And Mission</h1><br>
      <h3>Vision</h3><br>
      <p>
        That people, particularly children, who currently live in exclusion and poverty can be spiritually, materially, physically and socially healthy and that they have the opportunity to exercise their rights freely.
      </p><br>
      <h3>Mission</h3><br>
      <p>
        To improve living conditions and increase opportunities for vulnerable people, particularly children and adolescents, through educational programs, microfinance projects and social aid projects.
      </p><br>
    </div>
</body>
