<% provide(:title, "Who we are?") %>

<div class="center jumbotron">
  <h1>Under Construction!</h1>

  <h2>
    Please visit us at 
    <a href="https://www.facebook.com/pages/Fundacion-Bolivia-Digna/740692479360514">Fundacion Bolivia Digna</a><br><br>
    <img src="assets/logo.jpg">
  </h2>
</div>
