<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">     
      p {font-family: Arial,Helvetica,sans-serif; color: #3e3e3e; font-size: 14px; }
      h3 {font-family: Arial,Helvetica,sans-serif; color: #3e3e3e; font-size: 18px;}
    </style>
  </head>
  <body>
  <table border="0"> 
        <th colspan="15" bgcolor="255E8A" width="12">
        </th>
        <th align="left">
          <h3>Hola Dante!</h3>
          <p>
            El staff de Bolivia Digna te comunica que 
            hay una nueva persona interesada en realizar
            voluntariado en la fundación!
            A continuacion te brindamos su información:<br>
            Nombre:<%= @contact.name%><br>
            E-mail:<%= @contact.email%><br> 
            Y esto fue lo que escribió:<br>
            <%= @contact.message%><br>
            Eso es todo por ahora, suerte!
           <b><i>Staff de Bolivia Digna</i></b>
          </p>
      </th>
    </table>
  </body>
</html>